:host{
  display: flex;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .2);
  padding: 15px;
  box-sizing: border-box;
  background: #ffffff;
}

.photo{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid #cecece;
  background-color: #cecece;
  overflow: hidden;
  margin-right: 10px;
  &_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.details{
  &__item{
    color: #1b1b1b;
    &_name{
      font-size: 20px;
      margin-bottom: 5px;
    }
    &_email{
      .link{
        color: inherit;
      }
    }
  }
}
